{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<div class="carousel-container">
    <div class="carousel-slide active">
        <a href="#"><img src="{% static 'app/Images/banner1.jpg' %}" alt="Hmmmm"></a>
    </div>
    <div class="carousel-slide">
        <a href="#"><img src="{% static 'app/Images/banner.jpg' %}" alt="Hmmmm"></a>
    </div>
    <div class="carousel-slide">
        <a href="#"><img src="{% static 'app/Images/banner2.jpg' %}" alt="Hmmmm"></a>
    </div>
</div>

{% if user.is_superuser %}
<div>
    <label>
        Enter time of change image:
        <input type="range" value="4" id="imageSpeed" min="1" max="10" />
    </label>
</div>
{% endif %}

<section id="lastnews">
    {% if news %}
    <h2>The Last News</h2>
    <hr />
    <article class="one-news">
        <h3>{{ news.title }}</h3>
        <p class="news-text">{{ news.text }}</p><br />
        <a href="news/{{ news.id }}">Read more...</a>
        <p>{{ news.dateOfActual }}</p>
    </article>
    <hr />
    {% endif %}
</section>

<section id="placestat">
    <h2>Place statistics:</h2>
    <ul id="list">
        <li><strong>Empty places:  </strong><span id="num">{{ num_empty_placces }}</span></li>
        <li><a href="{% url 'places' %}">See more</a></li>
    </ul>
</section>

<section id="joke">
    <h2>Random joke</h2>
    <p>{{ setup }}</p>
    <p>Punchline: {{ punch }}</p>
</section>
{% endblock %}

{% block scripts %}
    <script src="{% static 'app/scripts/CarouselScript.js' %}"></script>
{% endblock %}